/* basic setting */
$body-bg: #fff;
$body-color: #2a2a2a;
$footer-bg: #f6f7f8;
$nav-line: #d8d8d8;
$pink: #f67599;
$white: #fff;
$gray-0: #e6e6eb;
$gray-1: #afb1bd;
$gray-2: #999999;
$gray-3: #808080;
$gray-4: #4a4a4a;
$gray-5: #333333;
$black: #000;

/* reset css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
a:visited {
  color: $body-color;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

%standard-boxshadow {
  box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}

body {
  background: $body-bg;
  color: $body-color;
  font-family: "Noto Sans TC";
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.scrollbar {
  padding-left: 6px;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .step__circle::after {
      content: "#{$i}";
    }
  }
}

// 共用樣式
.navbar__logo {
  align-items: center;
  img {
    width: 150px;
  }
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

// MOBILE

nav {
  position: sticky;
  z-index: 2;
  top: 0;
  height: 3rem;
  padding: 1rem;
  background: white;
  input {
    display: none;
  }
  .navbar__toggle:checked ~ .navbar__link {
    display: inline-block;
  }
  .navbar__toggle:checked ~ .navbar__icon {
    display: flex;
  }
  .hamburger {
    width: 1.2rem;
    height: 1.2rem;
  }
  .navbar__link {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    background: white;
    li {
      padding: 0 0.1rem;
      text-align: center;
      line-height: 4rem;
      border-bottom: 1px solid $nav-line;
    }
  }
  .navbar__logo {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar__icon {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 5rem;
    bottom: -840%;
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    img {
      margin-right: 3rem;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 5rem;
    }
    img:last-child {
      margin-right: 0;
    }
  }
}

// steppers
.checkout {
  margin: 1.5rem 0;
}
.checkout__form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "steppers"
    "form";
  padding: 0 1rem;
  width: 100%;
  .checkout__title {
    grid-area: title;
  }
  .checkout__steppers {
    grid-area: steppers;
    margin: 1.5rem 0;
    .step {
      position: relative;
      width: 100%;
      line-height: 2rem;
      text-align: center;
      @include getStepNums(3);
      &.checked {
        .step__circle {
          background: $body-color;
          color: white;
        }
        .connect-line {
          background-color: $body-color;
        }
      }
      &.checked .step__circle::after {
        content: "\2714";
      }
      &:nth-child(2) .connect-line {
        left: calc(80% + 1rem);
        right: calc(-70% + 2rem);
      }
      .step__circle {
        border: 1px solid $body-color;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
      }
      .connect-line {
        position: absolute;
        top: 1rem;
        left: calc(2rem + 30%);
        right: calc(-20% + 1rem);
        display: block;
        height: 2px;
        background-color: $gray-1;
      }
      .step__title {
        display: none;
      }
    }
  }
  .checkout__form {
    grid-area: form;
  }
}

footer {
  display: none;
}

// DESKTOP

@media (min-width: 860px) {
  body {
    padding: 0 10%;
  }
  nav {
    padding: 0.75rem 0;
    label {
      display: none;
    }
    .navbar__link {
      display: unset;
      position: unset;
      padding: unset;
      ul {
        display: flex;
        flex-direction: row;
      }
      li {
        border-bottom: unset;
        line-height: unset;
        margin-right: 0.5rem;
        font-size: 0.3rem;
      }
    }
    .navbar__icon {
      display: flex;
      position: unset;
      z-index: 2;
      width: unset;
      height: 100%;
      img {
        margin-right: 1.5rem;
      }
    }
  }

  .checkout__form {
    grid-template-columns: 60% 5% 35%;
    grid-template-areas:
      "title title title"
      "steppers . ."
      "part . cart"
      "btn btn btn";
    padding: 0 1rem;
    width: 100%;
    .checkout__steppers {
      grid-area: steppers;
      .step {
        width: 100%;
        line-height: 0.8rem;
        text-align: center;
        .step__circle {
          width: 0.8rem;
          height: 0.8rem;
          margin-right: 0.2rem;
          font-size: 0.4rem;
        }
        .connect-line {
          top: 0.4rem;
        }
        .step__title {
          display: unset;
          font-size: 0.8rem;
        }
        &:nth-child(2) .connect-line {
          left: calc(65% + 2rem);
          right: calc(-85% + 4.2rem);
        }
        .connect-line {
          left: calc(15% + 4rem);
          right: calc(-35% + 2rem);
        }
      }
    }
    .part {
      grid-area: part;
    }
    .cart {
      grid-area: cart;
    }
    .btn__wrapper {
      outline: 1px solid;
      grid-area: btn;
    }
  }

  footer {
    padding: 3rem 0;
    display: block;
    .navbar__logo {
      padding: 3rem 0;
      width: 5rem;
    }
    .footer__wrapper__item {
      li {
        margin: 0.1rem 0;
        font-size: 0.8rem;
        color: $gray-3;
      }
      i {
        font-size: 1rem;
        margin: 0 0.5rem;
      }
    }
  }
}
